.button {
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  font-family: "Avenir", "Arial", sans-serif;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.button--green {
  background-image: linear-gradient(#3fa103 50%, #136b3a 100%);
  border-radius: 10px;
  padding: 6px 19px 7px 21px;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-size: 18px;

  @media (min-width: $min-tablet-width) {
    @include text ($font-26, $height-20, $medium);
    padding: 20px;
  }

  @media (min-width: $min-desktop-width) {
    padding: 15px 28px;
  }

  &:hover,
  &:focus {
    background-image: linear-gradient(#136b3a 50%, #3fa103 100%);
    transition: 0.7s ease;
  }

  span {
    width: 100%;
    font-size: 14px;
    line-height: 20px;

    @media (min-width: $min-tablet-width) {
      width: 100%;
      font-size: 13px;
      margin-top: 10px;
    }
  }
}

.button--play {
  width: 46px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(78, 141, 111, 0.85);

  @media (min-width: $min-tablet-width) {
    width: 61px;
    height: 40px;
  }

  svg {
    transform: scale(0.65);

    @media (min-width: $min-tablet-width) {
      transform: scale(0.8);
    }

    @media (min-width: $min-desktop-width) {
      transform: scale(0.9);
    }
  }
}
