.intro {
  background-color: $green;
  background-image: url("../img/intro-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 57px;
  padding-bottom: 56px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/intro-mobile@2x.png");
  }

  @media (min-width: $min-tablet-width) {
    background-image: url("../img/intro-tablet@1x.png");
    padding-top: 53px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-tablet@2x.png");
    }
  }

  @media (min-width: $min-desktop-width) {
    background-image: url("../img/intro-desktop@1x.png");
    padding-top: 110px;
    padding-bottom: 166px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-desktop@2x.png");
    }
  }

  h1 {
    @include title ($font-26, $height-40, $medium, $white);
    margin: 0 auto;
    text-align: center;
    letter-spacing: 2px;

    @media (min-width: $min-tablet-width) {
      @include title ($font-64, $height-100, $medium, $white);
    }

    @media (min-width: $min-desktop-width) {
      @include title ($font-72, $height-72, $medium, $white);
      width: 617px;
    }
  }
}
