.master {
  padding: 23px;
  padding-bottom: 22px;

  @media (min-width: $min-tablet-width) {
    padding: 34px 33px 53px;
  }

  @media (min-width: $min-desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 57px 60px 58px;
  }

  h2 {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    color: $black;

    @media (min-width: $min-tablet-width) {
      width: 100%;
      text-align: center;
    }

    @media (min-width: $min-desktop-width) {
      @include title ($font-33, $height-30, $medium, $black);
      padding-top: 57px;
      margin-bottom: 37px;
    }
  }

  .master__about {
    @media (min-width: $min-desktop-width) {
      width: 767px;
      padding: 27px 80px 10px 31px;
    }
  }

  h3 {
    @include title ($font-18, $height-18, $bold, $green-primary);
    margin: 0;
    margin-bottom: 10px;
  }

  p {
    &:last-of-type {
      display: none;

      @media (min-width: $min-desktop-width) {
        display: block;
      }
    }

    @media (min-width: $min-desktop-width) {
      margin: 0;
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 20px;

      &:first-of-type {
        font-size: 12px;
        line-height: 22px;
        font-style: italic;
        margin-bottom: 30px;
        color: $black;
      }
    }
  }
}

.master__photo {
  @media (min-width: $min-tablet-width) {
    display: none;
  }

  @media (min-width: $min-desktop-width) {
    display: block;
  }
}
