.page-header {
  padding: 29px 23px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $min-tablet-width) {
    flex-wrap: nowrap;
    padding: 29px 31px;
  }

  @media (min-width: $min-desktop-width) {
    padding: 28px 62px;
  }
}

.page-header__search-form {
  width: 100%;
  order: 3;

  @media (min-width: $min-tablet-width) {
    width: 360px;
    height: 37px;
    order: unset;
  }

  @media (min-width: $min-desktop-width) {
    width: 728px;
  }
}
