.page-header {
  //background-color: $light-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page-header__search {
  @media (min-width: $min-desktop-width) {
    width: 728px;
  }

  input {
    @media (min-width: $min-desktop-width) {
      width: 100%;
      height: 37px;
      border: 1px solid $light-grey;
      padding: 0;
    }
  }

  label {
    @media (min-width: $min-desktop-width) {
      position: relative;

      &::after {
        position: absolute;
        content: url("../img/search.png");
        width: 21px;
        height: 21px;
        top: 0;
        right: 10px;
        display: block;
        z-index: 100;
      }
    }
  }
}
