.prices {
  padding-top: 20px;

  @media (min-width: $min-tablet-width) {
    padding: 34px 31px 33px;
  }

  @media (min-width: $min-desktop-width) {
    width: 571px;
    padding: 0 35px 0 47px;
    margin-left: auto;
  }

  .prices__list {
    list-style: none;
    margin: 0;
    position: relative;
    padding-left: 0;
    margin-bottom: 54px;

    @media (min-width: $min-tablet-width) {
      padding: 32px 33px 0 26px;
    }

    @media (min-width: $min-desktop-width) {
      width: 488px;
    }

    &::after {
      content: url("../img/line-mobile.svg");
      position: absolute;
      left: 0;
      bottom: -30px;
      height: 18px;
      width: 274px;

      @media (min-width: $min-tablet-width) {
        content: url("../img/line.svg");
        display: block;
        left: unset;
        right: 0;
        top: 20px;
        height: 280px;
        position: absolute;
        width: 18px;
      }

      @media (min-width: $min-desktop-width) {
        top: 0;
      }
    }
  }

  h2 {
    margin: 0;
    text-align: center;
    color: $black;
    margin-bottom: 20px;

    @media (min-width: $min-desktop-width) {
      @include title ($font-33, $height-30, $medium, $black);
      margin-bottom: 44px;
    }
  }

  h3 {
    font-weight: 500;
    margin: 0;

    @media (min-width: $min-tablet-width) {
      margin-bottom: 5px;
      font-size: 14px;
    }

    @media (min-width: $min-desktop-width) {
      font-size: 16px;
      line-height: 20px;
    }

    strong {
      width: 100%;
    }
  }

  li {
    margin-bottom: 15px;

    @media (min-width: $min-tablet-width) {
      margin-bottom: 15px;
    }

    span {
      color: $green-light;
      font-weight: 700;

      @media (min-width: $min-desktop-width) {
        @include text ($font-20, $height-20, $semi-bold);
      }
    }
  }

  p {
    margin: 0;

    @media (min-width: $min-tablet-width) {
      margin-bottom: 5px;
    }
  }
}
