.programme {
  @media (min-width: $min-desktop-width) {
    padding-top: 88px;
    padding-left: 59px;
    padding-right: 60px;
    padding-bottom: 46px;
  }

  h2 {
    @media (min-width: $min-desktop-width) {
      margin: 0;
      text-align: center;
      margin-bottom: 37px;
      font-size: 33px;
      line-height: 30px;
      color: $black;
      font-weight: 500;
    }
  }
}

.programme__about {
  display: flex;
}

.programme__text {
  padding: 15px 62px 25px 42px;
  width: 569px;
  background-color: $white;
  margin-left: auto;

  h3,
  p {
    margin: 0;
  }

  h3 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 800;
    color: $green-primary;
    margin-bottom: 24px;
  }

  p {
    &:first-of-type {
      margin-bottom: 30px;
    }

    &:last-of-type {
      margin-bottom: 50px;
    }
  }
}

.programme__video {
  position: relative;
  margin-right: auto;
}

.programme__video-button {
  border: none;
  outline: none;
  width: 61px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  top: 140px;
  left: 274px;
  background-color: rgba(78, 141, 111, 0.85);
  cursor: pointer;
}
