.wrapper {
  @media (min-width: $min-desktop-width) {
    display: flex;
    justify-content: space-between;
    //padding-left: 47px;
    //padding-right: 47px;
    padding-top: 45px;
    flex-wrap: wrap;
  }
}

.wrapper__button {
  @media (min-width: $min-desktop-width) {
    //width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    padding: 20px 28px 20px 27px;
    margin-top: 50px;
    background-image: linear-gradient(#3fa103 50%, #136b3a 100%);
    border-radius: 10px;
    font-size: 33px;
    line-height: 20px;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    span {
      width: 100%;
      font-size: 13px;
      margin-top: 10px;
    }
  }
}
