.wrapper {
  padding: 20px 20px 23px 30px;

  @media (min-width: $min-tablet-width) {
    padding-bottom: 33px;
  }

  @media (min-width: $min-desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 45px 61px 57px 57px;
    flex-wrap: wrap;
  }
}

.wrapper__button {
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;

  @media (min-width: $min-tablet-width) {
    margin: 50px auto 0;
    width: 374px;
  }

  @media (min-width: $min-desktop-width) {
    margin: 0 auto;
    margin-top: 20px;
  }
}
