html {
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
}

.disable-scroll {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0 auto;
  font-family: "Avenir", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: $medium-black;
  background-color: $white;
  height: 100%;
}

img {
  max-width: 100%;
}
