//FONTS

@font-face {
  font-family: "avenir";
  src: local("avenir black"), local("avenir-black"), url("../fonts/avenir-black.woff2") format("woff2"), url("../fonts/avenir-black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "avenir";
  src: local("avenir light"), local("avenir-light"), url("../fonts/avenir-light.woff2") format("woff2"), url("../fonts/avenir-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "avenir";
  src: local("avenir lightoblique"), local("avenir-lightoblique"), url("../fonts/avenir-lightoblique.woff2") format("woff2"), url("../fonts/avenir-lightoblique.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "avenir";
  src: local("avenir medium"), local("avenir-medium"), url("../fonts/avenir-medium.woff2") format("woff2"), url("../fonts/avenir-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
