//COLOR VARIABLES
$light-grey: #dfdada; // декоративная обводка элементов
$black: #000000; // основной цвет шрифта
$white: #ffffff; // основной цвет сайта
$green: green; // замещающий цвет фонов
$green-primary: #136b3a; // цвте заголовков 3-го уровня
$green-light: #6ac55c; // цвет элементов текста
$medium-black: #4d4d4d; // цвет шрифта
// Media queries
//$max-tablet-width: 1023px;
$min-tablet-width: 640px;
//$max-mobile-width: 639px;
$min-mobile-width: 320px;
$min-desktop-width: 1280px;

//RETINA VARIABLES
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//FONTS VARIABLES
$font-10: 10px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-34: 34px;
$font-26: 26px;
$font-30: 30px;
$font-32: 32px;
$font-33: 33px;
$font-36: 36px;
$font-38: 38px;
$font-45: 45px;
$font-64: 64px;
$font-72: 72px;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

$height-5: 5px;
$height-12: 12px;
$height-14: 14px;
$height-15: 15px;
$height-16: 16px;
$height-17: 17px;
$height-18: 18px;
$height-19: 19px;
$height-20: 20px;
$height-21: 21px;
$height-22: 22px;
$height-23: 23px;
$height-24: 24px;
$height-26: 26px;
$height-27: 27px;
$height-28: 28px;
$height-29: 29px;
$height-30: 30px;
$height-32: 32px;
$height-34: 34px;
$height-36: 36px;
$height-37: 37px;
$height-38: 38px;
$height-40: 40px;
$height-44: 44px;
$height-49: 49px;
$height-59: 59px;
$height-72: 72px;
$height-100: 100px;
